<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h3>Sei dabei am Schnuppertag 2020!</h3>
        <p>
          Erhalte einen Einblick in die Welt der Informatik!
          <br><br>
          Du stehst kurz vor der Berufswahl und interessierst dich für die Welt
          der Informatik? Dann besuche uns am Schnuppertag vom 8. Oktober 2020! Du
          erlebst einen Tag lang hautnah mit, wie abwechslungsreich und spannend
          der Beruf Informatik ist.
          <br><br>
          Zudem wirst du die sogenannte Puzzleness, die Unternehmenskultur von
          Puzzle kennenlernen. Dabei kannst du dich mit den erfahrenen Members
          beispielsweise bei einer Töggelirunde («Heblä») über die Werte in
          unserer Firma austauschen und ihnen Fragen rund um die Informatik stellen.
        </p>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
</section>
