<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h3>Sei dabei am Schnuppertag 2020!</h3>
        <p>
          Bei uns erlebst du Spannendes und Interessantes aus der Welt der Informatik.
          <br><br>
          Wir werden dir verschiedene Teilgebiete der Informatik zeigen und zusammen sehen wie spannend, abwechslungsreich und kreativ eine Lehre in der Informatik ist.
          <br><br>
          In unserem Programm lernst du nicht nur den Beruf des Informatiker kennen, sondern erlebst auch unsere Puzzle-Kultur und lernst viele Informatiker kennen, die sich gerne mit dir über Puzzle und die Welt der Informatiker  unterhalten.
        </p>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </div>
</section>
